---
layout: default
---

<canvas id="particle-canvas"></canvas>

<nav class="table-of-contents">
  <ul>
    <li><a href="#about" class="toc-link active" data-section="about">About</a></li>
    <li><a href="#publications" class="toc-link" data-section="publications">Publications</a></li>
    <li><a href="#projects" class="toc-link" data-section="projects">Projects</a></li>
  </ul>
</nav>

<div class="home">

  {{ content }}

</div>

<script src="{{ '/assets/particle-network.js' | relative_url }}"></script>
<script src="{{ '/assets/scroll-nav.js' | relative_url }}"></script>